absl-py
astunparse
blinker
Brotli
cachetools
certifi
charset-normalizer
click
colorama
filelock
Flask
Flask-Cors
flatbuffers
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
importlib-metadata
intel-openmp
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
MarkupSafe
mkl
mkl-fft
mkl-random
mkl-service
mpmath
networkx
numpy
oauthlib
opt-einsum
packaging
pip
protobuf
pyasn1
pyasn1-modules
PySocks
PyYAML
regex
requests
requests-oauthlib
rsa
sacremoses
safetensors
sentencepiece
setuptools
six
sqlite
sympy
tbb
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
termcolor
tokenizers
torch
tqdm
transformers
typing-extensions
urllib3
Werkzeug
win-inet-pton
wrapt
zipp
